OPENAI_API_KEY=<YOUR_OPENAI_API_KEY>

MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=Agno-Math-Agent

APP_VERSION=0.1.0
APP_ENV=dev

POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASSWORD>
POSTGRES_DB=<DB_NAME>
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
